*{
    font-family: 'Changa', sans-serif;
}

body{
    min-height: 100vh;
    background-color:#161F30 ;
}

main{
    min-height: 50vh;
    background-color: #F28907!important;
    max-width: 600px!important;
}

#add-form{
    background-color: #d0e7ab;
}

#add-form i:hover{
    scale: 1.2;
      
}

#add-form input{
    background-color: #dde2d3;
}

h2{
    background-color: #700B8C;
    color: white;
}

ul li{
    background-color:#d0e7ab!important;
    color: rgb(19, 18, 18)!important;
}

ul li i{
cursor: pointer;
transition: 0.5s;
}

ul li i:hover{
    scale: 1.3;
    transform: rotate(-20deg);
}

.uzerini-ciz{
    text-decoration:line-through;
    background-color: #FFAAA5!important;
   
}

#delete-all:hover{
    background-color:#198754!important ;
}